/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
ul {
	 list-style:none;
}
* {
    box-sizing: border-box;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #4040;
	text-align: center;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	background: #f9f9f9;
	font-family: "Open Sans", sans-serif;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #fff;
	text-decoration: none;
    cursor: pointer;
}
a:hover {
	color: #5e9ee3;
	text-decoration:none;
    cursor: pointer;
}
a:focus, a:active {
	color: #5e9ee3;
	text-decoration: none;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

header{
	color: black;
    min-width: 100%;
    display: flex;
    flex-direction:column; 
}

.header{
	width: 100%;
	margin: 0 auto;
	padding: 10px 30px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo-big {
    width: 70px;
    height: 70px;
}
.logo-small {
    display: none;
    width: 50px;
    height: 50px;
}

.name {
    line-height: 0.75;
}
.name h1{
	font-size: 4.3em;
    font-family: 'Cookie', cursive;
    color: #5e9ee3; 
}
.name2{
    font-size: 1em;
    font-family: 'Alice', serif;
    color: #3c6897;
}
.header a, .phone{
    font-family: 'Alice', serif;
    text-align: left;
    margin-bottom: 10px;
    color: #5e9ee3;
    transition: 1s;
}
.header a:hover {
    color: #ff0000;
    font-size: 110%;
}
.logo-big, .logo-small, .name, .contact, .contactUs_tel {
    margin: 20px 20px 0 0;
}
.contact, .contactUs_tel {
    display: flex;
    flex-direction: column;
}
.icon { width: 16px;
    height: 16px;
    float: left;
    margin: 0 4px 0 0;
   }

.icon_mail {
    background: url(assets/images/sprite/1.jpg) -4px -5px no-repeat;
    width: 17px;
    height: 12px;
    margin-top: 5px;
}
 .header a:hover .icon_mail{
    background: url(assets/images/sprite/1.jpg) -67px -5px no-repeat;
}
.icon_viber {
    background: url(assets/images/sprite/2.jpg)  no-repeat -1px -1px;
}
.skype {
    text-align: left; 
    position: absolute; 
    left: -25px; 
    top: 30px; 
    z-index: 999;
}
.contactUs_tel {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 0;
}
.phone {
    margin-bottom: 3px;
}
.phone:last-child {
    margin-bottom: 0;
}

/*Меню навигация*/
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
	background: rgba(0,0,0,0.9); 
	padding: 5px 10px 10px 10px;
    
}
.nav li a{
    font-family: 'Alice', serif;
	padding: 5px 30px;
    transition: 1s all;
}
.nav li a:hover {
    font-size: 110%;
}
/*Акции*/
.offer a {
    color: #ff0000;
    font-size: 1.2em;
    font-weight: bold;
    transition: 1s all;
}
.offer a:hover {
    color: yellow;
    font-size: 1.3em !important;
}
.change_image {
    background-color: #5e9ee3;
}
.slogan {
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 7px #5e9ee3;
	text-align: left;
    margin: 20px;
    padding: 10px;
    
}
.change_img {
    position: relative; 
    height: 400px;
}
.change_img img{
    position: absolute; right: 0; top: 0; width: 100%; height: 100%;
}
.change_img img:nth-child(2){
    opacity: 0; filter: alpha(opacity=0);
}
.change_img img:nth-child(3){
    opacity: 0; filter: alpha(opacity=0);
}
.hamburger {
        display: none;
        background: #000;
        padding: 5px;
        padding-bottom: 0;
        width: 40px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1000;
        transition: 2s all;
        cursor: pointer;   
    }
.hamburger ul{
    display: none;
    position: absolute;
    left: 0px;
    top: 40px;
    width: 200px;
    font-size: 0.9em;
    z-index: 100;
    background: rgba(0,0,0,0.2);
    }
.hamburger a {
   padding: 15px;
    font-family: 'Alice', serif;
    transition: 1s all;
}
.hamburger:hover {
    background: rgba(0,0,0,0.4);
    width: 300px;
    text-align: left;
}
    .hamburger:hover ul{
        display: inline-block;
    }

 .hamburger li {
        border: 1px solid lightgray;
        border-bottom: none;
     width: 300px;
     height: 30px;
    }
     .hamburger li:last-child {
        border-bottom: 1px solid lightgray;
    }
.hamburger li:hover {
    background: rgba(0,0,0,0.9)
}
.hamburger a {
    width: 100%;
}
.main {
    position: absolute; top: 0; width: 30%; height: 100%; 
    background: rgba(0,0,0,0.2);
    font-size: 0.85em;
    color: #fff;
    text-shadow: 0 0 7px #5e9ee3;
	text-align: left;
}
.main p {
	padding: 5px 20px;
} 
.main a, .map_works_block a {
    text-decoration: underline;
}
.map_works_block a:hover {
    color: bisque;
}
.main ul {
    margin: 10px 0 10px 100px;
    list-style-type: square;
    
}
.soc-icon {
    position: absolute; bottom: 0; right: 0;
}
article{
	width: 100%;
	margin: 0 auto;
	padding: 30px 30px; 
    border-top: 5px solid #5e9ee3;
}


h2 {
    font-size: 2em;
    color: #3c6897;
    padding: 2px 0;
    font-family: 'Alice', serif;
    text-transform: uppercase;
    text-align: center;
}

.serv-for {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.serv {
    margin: 25px;
    padding: 10px;
    width: 250px;
    min-height: 100px;
    border: 1px solid #E8E8E8;
    background-color: #e6fdf8;
    cursor: pointer;
    position: relative;
    box-shadow:  0 1px 4px rgba(0, 0, 0, .2),
   -23px 0 20px -23px rgba(0, 0, 0, .4),
   23px 0 20px -23px rgba(0, 0, 0, .4),
   0 0 40px rgba(0, 0, 0, .1) inset;
}

.serv__img img{
    height: 250px;
    width: 200px;
    border-radius: 5%;
}

.serv h3{
    font-size: 1.2em;
    color: #148197;
    margin-bottom: 10px;
}
.serv ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.serv ul li {
        font-size: 1em;
    margin-bottom: 8px;
    color: #000;
}

.serv ul li strong {
    color: #148197;
}

.servdiscribe {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 250px;
    min-height: 100%;
    z-index: 1;
    padding: 15px;
    
}
.servdiscribe p {
    text-align: justify;
    font-size: 0.75em;
    line-height: 1.5;
    color: #3c6897;
    padding: 5px 10px;
}
.serv:hover .servdiscribe{
    visibility: visible;
    opacity: 1;
    transition: 2s;
    background-color: #e6fdf8;
    border: 1px solid #E8E8E8;
    z-index: 999;
}
.button {
    width: 80px;
    margin: 5px auto;
    background: #5e9ee3;
    border-bottom: 4px solid #2b5582;
    border-right: 4px solid #2b5582;
    color: #fff;
    font-size: 14px;
    transition: all .1s linear;
    border-radius: 20%;
    transition: 1s;
}
.button:hover{
    background: #ff0000;
    border-bottom: 4px solid darkred;
    border-right: 4px solid darkred;
}
.button:active {
    transform: translateY(3px);
}
.button:hover a {
    color: #fff;
}

.map_works {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.map_works_block {
   background-color:  #5e9ee3;
    width: 350px;
    margin-top: 30px;
    border-radius: 15%;
   box-shadow:  0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
}
.map_works_block h3 {
    font-size: 1.5em;
    font-family: 'Alice', serif;
    color: #fff;
    margin: 15px 10px 0 10px;
}
.map_works_block p {
    font-size: 1em;
    color: #eeeef5;
    margin: 20px;
    text-align: justify;
}


.bgfoto {
	background: url(assets/images/backgrounds/bg4.jpg) center center repeat;
	max-width: 100%; 
}
/* Gallery */

.gal { 
    margin: 0; 
    padding-bottom: 80px;
}
#slideshow {
    list-style:none; 
    color:#fff;
}
#slideshow span {
    display:none;
}
#wrapper {
    width: 906px; 
    margin:10px auto; 
    display:none;
}
#wrapper * {
    margin:0; 
    padding:0;
}
#fullsize {
    position:relative; 
    width:906px; 
    height: 500px;
}
#information {
    position:absolute; 
    bottom:0; 
    left: 0;  
    width:100%; 
    height:0;
    background:#000;
    color:#fff; 
    overflow:hidden; 
    z-index:200; 
    opacity:.4; 
    filter:alpha(opacity=40);
}
#information h3 {
    padding:4px 8px 3px; 
    font-size:14px;
}
#information p {
    padding:0 8px 8px; 
    font-size: 10px;
}
#image {
    width:906px;
}
#image img {
    position:absolute;
    z-index:25;
    left: 0; 
    bottom: 0;  
    width: auto;
    height: 500px;
}
.imgnav {
    position:absolute;
    width:25%;
    height:506px; 
    cursor:pointer; 
    z-index:150;
}
#imgprev {
    left:0; 
    background:url(assets/images/left.gif) left center no-repeat;
}
#imgnext {
    right:0; 
    background:url(assets/images/right.gif) right center no-repeat;
}
#imglink {
    position:absolute; 
    height:506px; 
    width:100%; 
    z-index:100; 
    opacity:.4; 
    filter:alpha(opacity=40);
}
.linkhover {
    background:url(assets/images/link.gif) center center no-repeat;
}
#thumbnails {
    margin-top:15px;
}
#slideleft {
    float:left; 
    width:20px;
    height:81px; 
    background:url(assets/images/scroll-left.gif) center center no-repeat; 
    background-color:#000;
}
#slideleft:hover {
    background-color:#333;
}
#slideright {
    float:right; 
    width:20px; 
    height:81px; 
    background:#000 url(assets/images/scroll-right.gif) center center no-repeat;
}
#slideright:hover {
    background-color:#333;
}
#slidearea {
    float:left; 
    position:relative;
    width:856px; 
    margin-left:5px; 
    height:81px; 
    overflow:hidden;
}
#slider {
    position:absolute; 
    left: 0;
    height:81px;
}
#slider img {
    cursor:pointer; 
    border:1px solid #666; 
    padding:2px;
}
.bgOn-line{
    text-align: left;
    background: url(assets/images/backgrounds/bg7.jpg);
}
/*form*/
.decor {
  position: relative;
  max-width: 400px;
  margin-top: 50px;
  background: white;
  border-radius: 30px;  
    box-shadow:  0 1px 4px rgba(0, 0, 0, .2),
   -23px 0 20px -23px rgba(0, 0, 0, .4),
   23px 0 20px -23px rgba(0, 0, 0, .4),
   0 0 40px rgba(0, 0, 0, .1) inset;
}
.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #5e9ee3;
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}
.form-left-decoration:before {
    top: -20px;
}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: 0;
}
.form-right-decoration:after {
    top: 20px;
    right: 10px;
}

.form-inner {
    padding: 50px;
}
.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.form-inner textarea {
    height: 80px;
}
.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #5e9ee3;
    border-bottom: 4px solid #2b5582;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all .1s linear;
}
.form-inner input[type="submit"]:active {
    transform: translateY(3px);
}
.form-inner textarea {resize: none;}
.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}
.bgOn-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.offer_block {
    padding: 10px;
    margin-left: 20px;
    width: 400px;
}
.offer_ {
    
     box-shadow:
   0 1px 4px rgba(0, 0, 0, .2),
   -23px 0 20px -23px rgba(0, 0, 0, .4),
   23px 0 20px -23px rgba(0, 0, 0, .4),
   0 0 40px rgba(0, 0, 0, .1) inset;
    margin: 15px;
    background-color: aliceblue;
}
.offer_ p {
    font-size: 1em;
    color: #707981;
    padding: 10px;
    text-align: justify;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.4;
    filter: alpha(opacity=40);
    position:fixed;
    bottom:30px;
    right:15px;
    /*display: none;*/
    text-indent:-9999px;
    background: url("assets/images/icon_top.png") no-repeat;
    background-size: cover;
    z-index: 1001;
}
.scrollup:hover{
    opacity:0.7;
    filter: alpha(opacity=70);
}

footer {
    font-size: 0.75em;
    padding: 10px;
    background-color: #575656;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-icon h4{
    margin-bottom: 10px;
}

.footer-name, .footer-nav, footer .contact, .footer-contact, .footer-icon{
    margin: 20px 30px 0 0;
    padding: 10px;
}
.footer-icon {
    margin-right: 0;
}
.name1 {
    font-family: 'Cookie', cursive;
    color: #5e9ee3;
    font-size: 1.5em;
}

 .footer-nav{
    text-align: left;
}
.contact a {
    text-align: left;
    margin-bottom: 10px;
}

.footer-contact {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    text-align: left;
    display: block;
    line-height: 1.6;
}

.footer-name-2 {
    font-size: 0.75em;
}
.liveinternet {
    display: block;
    margin-top: 20px;
}
.social {
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right: 10px;
    background: #bdc3c7;
    vertical-align: middle;
    border-radius: 15%;
    margin-top: 5px;
}
.social:last-child {
    margin-right: 0;
}
.social-fb {
    background: url(assets/images/sprite/Preview%20-%20flat%20color%20socmed%20icons.png) -170px -625px no-repeat;
}
.social-fb:hover {
    background: url(assets/images/sprite/Preview%20-%20flat%20color%20socmed%20icons.png) -170px -1419px no-repeat;
}
.social-tw {
    background: url(assets/images/sprite/Preview%20-%20flat%20color%20socmed%20icons.png) -56px -625px   no-repeat;
}
.social-tw:hover {
    background: url(assets/images/sprite/Preview%20-%20flat%20color%20socmed%20icons.png) -56px -1419px   no-repeat;
}
.social-g {
    background: url(assets/images/sprite/Preview%20-%20flat%20color%20socmed%20icons.png) -283px -625px no-repeat;
}
.social-g:hover {
    background: url(assets/images/sprite/Preview%20-%20flat%20color%20socmed%20icons.png) -283px -1419px no-repeat;
}
.social-you {
    background: url(assets/images/sprite/Preview%20-%20flat%20color%20socmed%20icons.png) -850px -625px no-repeat;
}
.social-you:hover {
    background: url(assets/images/sprite/Preview%20-%20flat%20color%20socmed%20icons.png) -850px -1419px no-repeat;
}

.gallery {

    margin:  20px 40px;
    
}



.gallery a img{
    background: radial-gradient(transparent, transparent 4px, #5e9ee3 4px, white);
    padding: 5px;

    /* округления старт */
    -webkit-border-radius: 15px;
    -moz-border-radius:  15px;
    border-radius:  15px;
    /* округления конец */
   
    /* transition старт */
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transition: all 1.0s ease;
    /* transition конец */
    
    /* Тень старт 
    -webkit-box-shadow: 0px 1px 2px 1px #DFDFDF;
    -moz-box-shadow: 0px 1px 2px 1px #DFDFDF;
    box-shadow: 0px 1px 2px 1px #DFDFDF; 
    /* Тень конец */
    
    /* Прозрачнсоть старт */
    -moz-opacity: 0.90;
    opacity: 0.90;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
    /* Прозрачнсоть конец */
    
    margin-right:10px;     /* Отступ справа */
    padding:5px; /* Внутренние отступы */
    display:inline-block; /* отображение */
    height:200px; /* Высота */
}
.gallery a img:hover{
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.gallery a:focus img{
    position: relative;  /* Позиционирование */
    height:600px; /* Высота */
    cursor: pointer;    /* Вид курсора */
    
    /* transition старт */
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transition: all 1.0s ease;
    /* transition конец */
    
    /* Тень старт */
    -webkit-box-shadow: 0px 4px 4px 1px #DFDFDF;
    -moz-box-shadow: 0px 4px 4px 1px #DFDFDF;
    box-shadow: 0px 4px 4px 1px #DFDFDF;
    /* Тень конец */    
}
.gallery a{
    outline:0; border:0;
}
@media screen and (max-width: 1110px){
    .change_img { 
    height: 350px;
}
    .main {
        font-size: 0.7em;
}
    .nav li a{
	padding: 5px 15px;
}
    .nav li a:hover {
    font-size: 100%;
}
/*Акции*/
.offer a {
    font-size: 1em;
}
.offer a:hover {
    font-size: 1em;
}
    .map_works_block h3 {
    font-size: 1.2em;
}
.map_works_block p {
    font-size: 0.75em;
}
}
@media screen and (max-width: 1050px){
    .contactUs_tel {
    flex-direction: row;
    justify-content: flex-end;
}
    .phone {
    margin-right: 25px;
}
    .phone:last-child {
    margin-right: 0;
}
    .map_works_block {
    width: 250px;
}
.map_works_block h3 {
    font-size: 1.2em;
    margin: 15px 10px;
}
.map_works_block p {
    font-size: 0.75em;
    margin-top: 0;
}
    h2 {
    font-size: 1.75em;
}
    #wrapper {
    width:806px;
}
    #fullsize { 
    width:806px; 
    height: 450px;
}
    #image {
    width:806px;
}
    #image img {
    height: 450px;
}
    .imgnav {
    height:456px; 
}
    #imglink {
    height:456px; 
}
    #slidearea {
    width:756px; 
}
    .main {
        width: 40%;
}
}
@media screen and (max-width: 950px){
    .change_img { 
    height: 300px;
}
    .slogan {
    font-size: 1.1em;
    margin: 10px;
    padding: 5px;
}
    .nav li a{
	padding: 5px 10px;
    font-size: 0.95em;
}
.nav li a:hover {
    font-size: 100%;
}

@media screen and (max-width: 860px){
    .change_img { 
    height: 270px;
}
    .slogan {
    font-size: 1em;
    margin: 10px;
    padding: 5px;
} 
    .nav {
        display: none;
}
     .hamburger {
        display: block;    
}
     #wrapper {
    width:606px;
}
    #fullsize { 
    width:606px; 
    height: 300px;
}
    #image {
    width:606px;
}
    #image img {
    height: 300px;
}
    .imgnav {
    height:306px; 
    }
    #imglink {
    height:306px; 
}
    #slidearea {
    width:556px; 
}
}
@media screen and (max-width: 690px){
     .contactUs_tel {
    flex-direction: column;
    }
    .contactUs_tel {
        font-weight: normal;
        font-size: 1.1em;
}
    .phone{
        margin-right: 0;
        margin-bottom: 5px;
    }
     .main {
     width: 100%; 
        font-size: 0.7em;
    }
    .slogan {
    font-size: 1em;
    margin: 8px;
    padding: 5px;
}
     #wrapper {
    width:406px;
}
    #fullsize { 
    width:406px; 
    height: 300px;
}
    #image {
    width:406px;
}
    #image img {
    height: 300px;
}
.imgnav {
    height:306px; 
    }
    #imglink {
    height:306px; 
}
    #slidearea {
    width:356px; 
}
    .hamburger li {
    background: rgba(0,0,0,1)
}
    .hamburger li:hover {
    background: gray;
}
     
    }
@media screen and (max-width: 600px){
    .change_img { 
    height: 250px;
}
   .logo-big {
    display: none
}
.logo-small {
    display: block;
}
    .name h1 {
        font-size: 3.3em;
    }
}
@media screen and (max-width: 500px){
    .change_img { 
    height: 230px;
}
    .skype {
    left: -25px; 
    top: 30px; 
}
    .p {
        margin-top: 20px;
}
    .slogan {
    display: none;
} 
     .header a {
        font-size: 0.9em;
}
    .header{
    justify-content: flex-start;
}
    header .contact {
        margin-top: 30px;
    }
    #wrapper {
    width:306px;
}
    #fullsize { 
    width:306px; 
    height: 200px;
}
    #image {
    width:306px;
}
    #image img {
    height: 200px;
}
    .imgnav {
    height:206px; 
}
    #imglink {
    height:206px; 
}
    #slidearea {
    width:256px; 
}
}
@media screen and (max-width: 400px){
    .change_img { 
    height: 210px;
}
    .footer-nav, footer>.contact, .footer-contact {
        display: none;
}
    .footer-name {
        margin: 0;
    }

   #wrapper {
    width:256px;
}
    #fullsize { 
    width:256px; 
    height: 200px;
}
    #image {
    width:256px;
}
    #image img {
    height: 200px;
}
    .imgnav {
    height:206px; 
}
    #imglink {
    height:206px; 
}
    #slidearea {
    width:206px; 
}
    .contactUs_tel {
            padding-top: 20px;
        }
   
}
    @media screen and (max-width: 330px){
        .skype {
    left: -25px; 
    top: 50px; 
}
        .contactUs_tel {
            padding-top: 30px;
        }
    }
   

   

